*{
margin: 0;
padding: 0;
box-styling: border-box;
}

.map {
    /*background-image: url("topo-co.jpg");
	background-size: cover;
    background-position: center;*/
	width: 100%;	
	height: 100%;
	position: relative;
    z-index: 0;
}

.marker {
	position:absolute;
	width: 250px;
    /* you dont need both width and height*/
    /* offset in js file not with margin*/
    margin-left: -6px;
    margin-top: -1.5px;
}
.marker img {
    width: 25px;
}

.textBox {
    position: absolute;
    width: 200px;
    height: 40px;
    margin-left: 10px;
    z-index: 2;
    /*overflow: hidden;*/
}
.comment {
    position: relative;
    top: -20px;
    left: 25px;
    width: auto;
}
.input-comment {
    position: relative;
}