*{
margin: 0;
padding: 0;
box-styling: border-box;
}

.map {
    background-image: url("topo-co.jpg");
	background-size: cover;
    background-position: center;
	width: 100vw;	
	height: 100vh;
	position: relative;
}

.marker {
	position:absolute;
	width:2%;
	height:3%;
    margin-left: -6px;
    margin-top: -1.5px;
}

.textBox {
    position: absolute;
    width: 200px;
    height: 40px;
    margin-left: 10px;
    z-index: 2;
    /*overflow: hidden;*/
}